<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://pnv.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/89dea86b-8434-4fff-8aca-3bdf9f5202f9/resourcegroups/ALD/providers/Microsoft.Web/sites/PNV</ResourceId>
    <UserName>$PNV</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://pnv.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>